@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Mono&display=swap');

.notfound{
  font-family: 'IBM Plex Mono', monospace;
  font-size: 182px;
  color: #77ABB7;
  text-align: center;
}

.notfoundtext{
  font-family: 'Fira Mono', monospace;
  font-size: large;
}

